<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
 </head>

 <!--Navbar-->   
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">To-Do-App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#c1">Testimonials</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#c2" tabindex="-1" ="true">Pricing Tables</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#c3" tabindex="-1" ="true">Blog Entries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#c4" tabindex="-1" ="true">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light " type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> 
<!--Header--> 
<header>
     <!--Header content-->
          <div class="header-content">
            <h2>Your busy life deserves this.</h2>
            <p>Our Web-App is an award-winning app used by millions of people to stay organized and get more done.</p>
            <div class="btn">
              <a  class="margin" href="/add">Get Started</a>
             </div>
          </div>

</header>




<!--Testimonials Section-->
<section id="c1"class="common-section testimonials">
  
        <h2>What do they say?</h2>
 <!--Div container for the div's having class-name="common-section-cards" -->
    <div class="common-section-card">
      <!--Div;s for the cards -->

        <div class="testimonial-cards">
            <img alt="Men-icon" src="images/man (1).png">
            <p>What I like about flask is the simplicity, ease of use, and lack of any barriers to get started.</p>
            <p>Jhon-Software Enginner</p>
        </div>

        <div class="testimonial-cards">
            <img alt="Women-icon" src="images/woman.png">
            <p>I have been using it for a variety of things including to-do lists, shopping lists, goals, items-to-pack and wishlists.</p>
            <p>Nancy-Housewife</p>
        </div>

        <div class="testimonial-cards">
            <img  alt="Men-icon" src="images/man.png">
            <p>Every feature and design attribute is thought out so precisely -- with so much care and intelligence. Thank you once again for making every day more productive and fun! </p>
            <p >Smith-Contractor</p>
        </div>

    </div>
    

</section>

<!--Pricing Section-->
<section id="c2" class="common-section pricing">
    <h2>Pricing Plans</h2>
     <!--Div container for the div's having class-name="common-section-cards" -->

    
    <div class="common-section-card">
      <!--Div;s for the pricing cards -->

        <div class="pricing-cards">
            <img  alt="Men-icon" src="images/astronaut.png">
            <h2>Free</h2>
            <h4>For starters</h4>
            <p>us<sub>$0</sub></p>
            <div class="btn">
                <a  class="margin" href="#">Get Started</a>
               </div> 
        </div>

        <div class="pricing-cards">
            <img  alt="Men-icon" src="images/chef.jpg">
            <h2>Pro</h2>
            <h4>For power users</h4>
            <p>us<sub>$3</sub></p>
            <div class="btn">
                <a  class="margin" href="#">Upgrade Now</a>
               </div>
         </div>

        <div class="pricing-cards">
            <img  alt="Men-icon" src="images/delivery.png">
            <h2>Buisness</h2>
            <h4>For teams</h4>
            <p>us<sub>$5</sub></p>
            <div class="btn">
                <a  class="margin" href="#">Try For Free</a>
               </div>
          </div>

    </div>
</section>

<!--Blog Section-->
<section id="c3" class="common-section Blog">
  
    <h2>Blog Entries</h2>
    <!--Div container for the div's having class-name="common-section-cards" -->
<div class="common-section-card">
  <!--Div;s for the cards -->

    <div class="blog-cards">
        <img src="images/1.jpg">
        <h3>Manage Multitasking</h3>
        <p>Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.</p>
        <div class="btn">
            <a  class="margin" href="#">Read More</a>
           </div>
    </div>

    <div class="blog-cards">
        <img src="images/accountant.jpg">
        <h3>Why we need time mangement?</h3>
        <p>Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.</p>
        <div class="btn">
            <a  class="margin" href="#">Read More</a>
           </div>
    </div>

    <div class="blog-cards">
        <img src="images/time.jpg">
        <h3>Time Is Money</h3>
        <p>Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.</p>
        <div class="btn">
            <a  class="margin" href="#">Read More</a>
           </div>
    </div>

</div>


</section>

<!--Contact-us Section-->
<section id="c4" class="common-2">

<h2>Talk To Us</h2>
<!--Div container for the image and form-->
<div class="common-2-main">
    <!--Div for the image-->
    <div class="common-2-image">
        <img src="images/Sending emails_Monochromatic.png">
    </div>
<!--Div for the form-->
    <div class="common-2-content">
        <form>
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="E-mail Address">
            
            <textarea placeholder="Message" id="w3review" name="w3review" rows="4" cols="50"></textarea>
            <button  type="submit">Submit</button>
        </form>
        
    </div>
</div>


</section>


<!--Footer Section-->
<footer>
    <!--Div conatiner for the icon-links-->
    <div class="social-links">
        <ul>
           <li><div class="social-links-div"><a href="#"><i class="fab fa-facebook-f"></i></a></div></li>
           <li><div class="social-links-div"><a href="#"><i class="fab fa-twitter"></i></a></div></li>
           <li><div class="social-links-div"><a href="#"><i class="fab fa-linkedin-in"></i></a></div></li>
           <li><div class="social-links-div"><a href="#"><i class="fa fa-rss"></i></a></div></li>
           <li><div class="social-links-div"><a href="#"><i class="fab fa-github"></i></a></div></li>
        </ul>

    </div>
    <p>COPYRIGHT © 2021 TO DO APP - DESIGN BY: AVNISH <a style="color:white;" href="">Github Link</a></p>
</footer>
<!--Script CDN for font-awesome-->
<script src="https://kit.fontawesome.com/8568d6c21e.js" crossorigin="anonymous"></script>

 <!--Script CDN for bootstrap-->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> 
</body>
</html>